@font-face {
    font-family: "3270-regular";
    src: url("../overtimecalculator/3270-Regular.woff2") format("woff2");
}

* {
    font-family: "3270-regular", sans-serif;
    font-size: 3.5vw;
    background-color: darkblue;
    color: lime;
    vertical-align: top;
}

.input:focus-visible {
    outline: 4px solid white;
}

.input {
    border-color: lime;
    border-width: 1px;
    margin: 2px
}

.child {
    display: inline-block;
    padding: 1rem;
}